<div class="book-list-container">

  <mat-progress-spinner 
    *ngIf="isLoading" 
    mode="indeterminate"
    color="primary"
    diameter="50"
  ></mat-progress-spinner>

  <div *ngIf="!isLoading">
    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="paginatedData">
        
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Cím</th>
          <td mat-cell *matCellDef="let book">{{ book.title }}</td>
        </ng-container>

        <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef>Szerző</th>
          <td mat-cell *matCellDef="let book">{{ book.author }}</td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Kategória</th>
          <td mat-cell *matCellDef="let book">{{ book.category }}</td>
        </ng-container>

        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>Év</th>
          <td mat-cell *matCellDef="let book">{{ book.year }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Műveletek</th>
          <td mat-cell *matCellDef="let book">
            <button mat-icon-button color="primary" [routerLink]="['/books/edit', book.id]" matTooltip="Szerkesztés">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteBook(book.id)" matTooltip="Törlés">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            <div class="no-data">
              Nincs megjeleníthető adat
            </div>
          </td>
        </tr>
      </table>
    </div>

    <app-custom-paginator
      [length]="filteredData.length"
      [pageSize]="pageSize"
      (pageChanged)="onPageChange($event)"
    ></app-custom-paginator>
  </div>
</div>